---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <style>
      .intro-logo {
        width: 100%;
        max-width: 600px;
        max-height: 550px;
        border-radius: 5px;
        object-fit: cover;
      }
      .intro-text {
        width: 90%;
        padding-block: 1em;
      }
      
    </style>

    <section class="grid-cols-2">
      <img class="intro-logo" src="/flower-image.jpg" alt="" />
      <div class="intro-text">
        <h1>Jessica Reilly</h1>
        <hr />
        <p>
          Jessica Reilly is a poet and educator based on Long Island, New York.
        </p>
        <p>
          She is passionate about writing as a form of self-care and personal
          reflection. Her poetry often carries a nostalgic tone, celebrating the
          quiet beauty found in everyday moments.
        </p>
        <p>
          Jessica began writing in her first diary in seventh grade, but she
          truly honed her craft while studying at SUNY New Paltz, where she
          earned a Master’s degree in Literacy Education and a Bachelor’s degree
          in Early Child & Childhood Education with a minor in Creative Writing.
        </p>
      </div>
    </section>

    <Footer />
  </body>
</html>
