---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
---

<header>
  <nav class="main-header" role="navigation">
    <div class="hamburger" aria-label="Open Menu" tabindex="0">
      <span></span>
      <span></span>
      <span></span>
    </div>
    <h2 class="logo"><a href="/">{SITE_TITLE}</a></h2>
    <nav class="internal-links menu" role="navigation">
      <HeaderLink href="/">About</HeaderLink>
      <HeaderLink href="/publications">Publications</HeaderLink>
      <HeaderLink href="/blog">Blog</HeaderLink>
      <HeaderLink href="/contact">Contact</HeaderLink>
    </nav>
    <div class="social-links">
      <a
        href="https://www.instagram.com/jessicareilly_poet/"
        target="_blank"
        title="Follow Me on Instagram"
      >
        <svg
          width="40px"
          height="40px"
          viewBox="0 0 32 32"
          xmlns="http://www.w3.org/2000/svg"
          ><path
            d="M20.445 5h-8.891A6.559 6.559 0 0 0 5 11.554v8.891A6.559 6.559 0 0 0 11.554 27h8.891a6.56 6.56 0 0 0 6.554-6.555v-8.891A6.557 6.557 0 0 0 20.445 5zm4.342 15.445a4.343 4.343 0 0 1-4.342 4.342h-8.891a4.341 4.341 0 0 1-4.341-4.342v-8.891a4.34 4.34 0 0 1 4.341-4.341h8.891a4.342 4.342 0 0 1 4.341 4.341l.001 8.891z"
          ></path><path
            d="M16 10.312c-3.138 0-5.688 2.551-5.688 5.688s2.551 5.688 5.688 5.688 5.688-2.551 5.688-5.688-2.55-5.688-5.688-5.688zm0 9.163a3.475 3.475 0 1 1-.001-6.95 3.475 3.475 0 0 1 .001 6.95zM21.7 8.991a1.363 1.363 0 1 1-1.364 1.364c0-.752.51-1.364 1.364-1.364z"
          ></path></svg
        >
      </a>
    </div>
  </nav>
</header>
<script>
  const hamburger = document.querySelector(".hamburger");
  const menu = document.querySelector(".menu");

  hamburger?.addEventListener("click", () => {
    menu?.classList.toggle("active");
    hamburger.classList.toggle("active");
  });

  hamburger?.addEventListener("keydown", (e) => {
    if (e.key === "Enter" || e.key === " ") {
      menu?.classList.toggle("active");
      hamburger.classList.toggle("active");
    }
  });
</script>
<style>
  header {
    margin: 0;
    padding: 0 1.5em;
    background: hsla(46.67, 14.75%, 88.04%, 1);
    box-shadow: 0 2px 8px rgba(var(--gray), 15%);
  }

  .hamburger {
    display: none;
  }
  h2 {
    margin: 0;
    font-size: 1em;
  }

  h2 a,
  h2 a.active {
    text-decoration: none;
  }
  .main-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    & > * {
      min-width: 150px;
      place-content: center;
    }
  }
  .main-header a {
    padding: 0.5em;
    color: hsla(var(--font-color), 1);
    fill: hsla(var(--font-color), 1);
    border-bottom: 4px solid transparent;
    text-decoration: none;
  }
  .main-header a.active {
    text-decoration: none;
    border-bottom-color: var(--accent);
  }

  .main-header a:hover,
  .social-links a:hover {
    color: hsla(var(--font-dark), 1);
    fill: hsla(var(--font-dark), 1);
  }
  .social-links,
  .social-links a {
    display: flex;
  }
  @media (max-width: 720px) {
    .main-header .menu a {
      box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2);
      width: 85%;
      &.active {
        border-bottom-color: transparent;
      }
    }

    .main-header {
      .social-links {
        position: absolute;
        right: 10px;
        top: 0;
        min-width: unset;
      }
      .logo {
        position: absolute;
        right: 50%;
        transform: translateX(50%);
      }

      .menu {
        display: none;
        position: absolute;
        top: -100px;
        left: 0;
        opacity: 0;
        padding-block: 1em;

        &.active {
          display: flex;
          animation: slide-in 0.5s ease forwards;
          flex-direction: column;
          background: hsla(46.67, 14.75%, 88.04%, 1);
          padding-inline: 1em;
          gap: 1em;
          box-shadow: 0 2px 8px rgba(var(--gray), 15%);
          z-index: 1000;
        }
      }
    }

    .main-header > .hamburger {
      display: flex;
      flex-direction: column;
      gap: 5px;
      cursor: pointer;
      padding: 5px;
      margin-block: 15px;
      min-width: unset;

      span {
        display: block;
        width: 25px;
        height: 3px;
        background-color: hsla(var(--font-color), 1);
        border-radius: 2px;
        pointer-events: none;
      }

      &.active {
        outline: 2px solid hsla(var(--font-dark), 1);
        border-radius: 5px;
        span {
          background-color: hsla(var(--font-dark), 1);
        }
      }
    }

    @keyframes slide-in {
      from {
        top: 0;
        opactity: 0;
      }

      to {
        top: 60px;
        opacity: 1;
      }
    }
  }
</style>
