---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
---

<header>
  <nav>
    <h2><a href="/">{SITE_TITLE}</a></h2>
    <div class="internal-links">
      <HeaderLink href="/">About</HeaderLink>
	  <HeaderLink href="/publications">Publications</HeaderLink>
      <HeaderLink href="/blog">Blog</HeaderLink>
      <HeaderLink href="/contact">Contact</HeaderLink>
    </div>
    <div class="social-links">
      <a href="https://www.instagram.com/jessicareilly_poet/" target="_blank" title="Follow Me on Instagram">
        <svg
          width="40px"
          height="40px"
          viewBox="0 0 32 32"
          xmlns="http://www.w3.org/2000/svg"
          ><path
            d="M20.445 5h-8.891A6.559 6.559 0 0 0 5 11.554v8.891A6.559 6.559 0 0 0 11.554 27h8.891a6.56 6.56 0 0 0 6.554-6.555v-8.891A6.557 6.557 0 0 0 20.445 5zm4.342 15.445a4.343 4.343 0 0 1-4.342 4.342h-8.891a4.341 4.341 0 0 1-4.341-4.342v-8.891a4.34 4.34 0 0 1 4.341-4.341h8.891a4.342 4.342 0 0 1 4.341 4.341l.001 8.891z"
          ></path><path
            d="M16 10.312c-3.138 0-5.688 2.551-5.688 5.688s2.551 5.688 5.688 5.688 5.688-2.551 5.688-5.688-2.55-5.688-5.688-5.688zm0 9.163a3.475 3.475 0 1 1-.001-6.95 3.475 3.475 0 0 1 .001 6.95zM21.7 8.991a1.363 1.363 0 1 1-1.364 1.364c0-.752.51-1.364 1.364-1.364z"
          ></path></svg
        >
      </a>
    </div>
  </nav>
</header>
<style>
  header {
    margin: 0;
    padding: 0 1.5em;
    background: transparent;
    box-shadow: 0 2px 8px rgba(var(--gray), 15%);
  }

  /* .internal-links {
    flex-grow: 1;
    display: flex;
    justify-content: center;
  } */
  h2 {
    margin: 0;
    font-size: 1em;
  }

  h2 a,
  h2 a.active {
    text-decoration: none;
  }
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    & > * {
      min-width: 150px;
      place-content: center;
    }
  }
  nav a {
    padding: 0.5em;
    color: hsla(var(--font-color), 1);
    fill: hsla(var(--font-color), 1);
    border-bottom: 4px solid transparent;
    text-decoration: none;
  }
  nav a.active {
    text-decoration: none;
    border-bottom-color: var(--accent);
  }

  nav a:hover,
  .social-links a:hover {
    color: hsla(var(--font-dark), 1);
    fill: hsla(var(--font-dark), 1);
  }
  .social-links,
  .social-links a {
    display: flex;
  }
  @media (max-width: 720px) {
    .social-links {
      display: none;
    }
  }
</style>
